.registration-form h2{
	background: #5cc45c;
	display: inline-block;
	padding: 5px 75px;
	border-radius: 20px 0px 20px 0px;
	margin-bottom: 20px;
	}
.registration-form{
	text-align: center;
	background: #f8f9fa !important;
	padding: 200px;
}
.registration-form i{
background: #e9ecef;
padding: 9px 9px 12px 11px;
 margin-right: -5px;
 border: 1px solid #ced4da;
border-radius: .25rem;

}
.registration-form form .form-group input{
	 
		width: 350px;
	padding: .375rem .75rem;
 
}
.registration-form form .form-group select{
	 
	
	padding: .375rem .75rem;
 
}
.registration-form form .form-group input[type="text"]:focus + i{
	color: blue;
}
.form-control{display:inline;}
 .drop{
	width: 100px;
}
 .form-group .phone{
	width: 245px !important;
}
 form .btn{width: 390px !important}
