.product-full-view{
	margin-top: 100px !important;
}
table tr{
	display: block;
	margin-bottom: 20px;	 
}
.demo{
	padding-left: 20px;
	background: yellow;
}
 table th{
	 width: 150px;
	 
}