.content-section-section{
	min-height: 100vh;
	padding-top:6.5rem;
}
#order table{
	width: 60%;

}
#order table, #wishlist table {
   
  border-collapse: collapse;
   
}
 

#order td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 2px 15px;
}
#wishlist td,th {
	border: 1px solid #dddddd;
	text-align: center;
  padding: 2px 39px;
}
 
#order tr:nth-child(even), #wishlist tr:nth-child(even){
  background-color: #dddddd;
}
#wishlist td:last-child{
	padding: 2px 5px;
}